<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>${title}</title>
</head>
<body>
<div align="center" style="color:#22B14C">
    <h2>${hello}</h2>
    <img src="https://www.baidu.com/img/bd_logo1.png" alt="测试正文包含图片"/>
</div>
</body>
</html>