<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jeeplus.weixin.mapper.DictModelMapper" >
  <resultMap id="BaseResultMap" type="cn.btkj.entity.DictModel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="sqls" property="sqls" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="displayseq" property="displayseq" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, value, sqls, type, category, displayseq
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tmk_dict
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tmk_dict
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.btkj.entity.DictModel" >
    insert into tmk_dict (id, name, value, 
      sqls, type, category, displayseq
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, 
      #{sqls,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{category,jdbcType=VARCHAR}, #{displayseq,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.btkj.entity.DictModel" >
    insert into tmk_dict
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="value != null" >
        value,
      </if>
      <if test="sqls != null" >
        sqls,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="displayseq != null" >
        displayseq,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="sqls != null" >
        #{sqls,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="displayseq != null" >
        #{displayseq,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.btkj.entity.DictModel" >
    update tmk_dict
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="sqls != null" >
        sqls = #{sqls,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="category != null" >
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="displayseq != null" >
        displayseq = #{displayseq,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.btkj.entity.DictModel" >
    update tmk_dict
    set name = #{name,jdbcType=VARCHAR},
      value = #{value,jdbcType=VARCHAR},
      sqls = #{sqls,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      category = #{category,jdbcType=VARCHAR},
      displayseq = #{displayseq,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
   <select id="selectSelective" parameterType="DictModel"  resultType="DictModel" >
    select 
    <include refid="Base_Column_List" />
    from tmk_dict
      <where>
            <if test="type != null and type != ''">
              and  type= #{type} 
            </if>
            <if test="category != null and category != ''">
                and   category = #{category}
            </if>
        </where>
      order by displayseq
  </select>
  
  <select id="selectBySql" parameterType="SQLAdapterModel" resultType="CommonModel">
        ${sql}  
   </select>
  
   <select id="selectCount" parameterType="SQLAdapterModel" resultType="int">
        ${sql}  
   </select>
   
   <select id="selectString" parameterType="SQLAdapterModel" resultType="String">
        ${sql}  
   </select>
 
  
</mapper>