<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="${rc.contextPath}/static/css/bootstrap.min.css">
<link rel="stylesheet" href="${rc.contextPath}/static/css/font-awesome.min.css">
<link rel="stylesheet" href="${rc.contextPath}/static/plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="${rc.contextPath}/static/plugins/zTree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="${rc.contextPath}/static/css/main.css">
<script src="${rc.contextPath}/static/libs/jquery.min.js"></script>
<script src="${rc.contextPath}/static/plugins/layer/layer.js"></script>
<script src="${rc.contextPath}/static/libs/bootstrap.min.js"></script>
<script src="${rc.contextPath}/static/libs/vue.min.js"></script>
<script src="${rc.contextPath}/static/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="${rc.contextPath}/static/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="${rc.contextPath}/static/plugins/zTree/js/jquery.ztree.all.min.js"></script>
<script src="${rc.contextPath}/js/common.js"></script>